<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Amazon Product Position Scrapper</title>
	<link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
</head>
<body>

	<div class="container">
		<form action="result" method="POST" role="form">
			<legend>What is the ASIN?</legend>
		
			<div class="form-group">
				<label for="">ASIN</label>
				<input type="text" class="form-control" id="asin" name="asin" placeholder="e.g B018SLE2NI">
			</div>

			<div class="form-group">
				<label for="">Keyword</label>
				<input type="text" class="form-control" id="keyword" name="keyword" placeholder="Tennis elbow brace">
			</div>
		
			
		
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	
</body>
</html>