<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Results</title>
  <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
</head>
<body>

  <div class="container">

    <h1><%= @title %></h1>
    <p>The asin: <%= @asin %></p>
    <p>The keyword: <%= @keyword %></p>

  </div>

</body>
</html>